/**StargazerServerSequenceFile**/

{systemParameterCacheServerManage}
{localLogServerManage}
	{logQueueServerManage}
			{onlineLogServerManage}
				{bigCacheIndexCacheServerManage}
				{byteArrayCacheServerManage}
				{orderCacheServerManage}
				{orderMessageQueueManage}
				{orderExportQueueServerManage}
				{eventQueueServerManage}
					{nodeNegotiateServerListener}
						{eventBusServerManage}